@model HubnyxQMS.Models.WithDrawal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WithDrawal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithDrawalReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithDrawalReason.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QMSUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QMSUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
