@model IEnumerable<HubnyxQMS.Models.WithDrawal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!--  sale analytics start -->
                        <div class="col-xl-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="text-center">
                                        WithDrawals <span class="text-left">
                                        </span>
                                    </h3>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive table-border-style">
                                        <table class="table table-inverse">
                                            <thead>
                                                <tr>
                                                    <th>T.No</th>
                                                    <th>M.Reason</th>
                                                    <th>Created</th>
                                                    <th>Phone</th>
                                                    <th>M.No</th>
                                                    <th>Category</th>
                                                    <th>Chat</th>
                                                    <th>Status</th>
                                                    <th>DoneBy</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>@item.TicketNumber</td>
                                                        <td class="col-auto">@item.MemberReason</td>
                                                        <td>@item.Created</td>
                                                        <td>@item.PhoneNumber</td>
                                                        <td>@item.MemberNumber</td>
                                                        <td>@item.WithDrawalReason.Name</td>
                                                        <td><a href="" class="btn btn-dark btn-sm">Chat(0)</a></td>
                                                        <td><a href="" class="btn btn-danger btn-sm">Pending</a></td>
                                                        <td>@item.QMSUser.FullName</td>
                                                    </tr>
                                                    }
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>
