@using Microsoft.AspNetCore.Identity
@inject SignInManager<QMSUser> SignInManager
@inject UserManager<QMSUser> UserManager
@using Newtonsoft.Json.Linq;
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nyati Sacco | QMS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/libraries/assets/images/7.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/libraries/bower_components/bootstrap/css/bootstrap.min.css">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/icon/feather/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/pages/message/message.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/css/jquery.mCustomScrollbar.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a asp-controller="Home" asp-action="QueueMembers">
                            <h5>Nyati Sacco QMS</h5>
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="feather icon-maximize full-screen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                int count = 0;
                                int countunread = 0;
                                var userCurrentt = await UserManager.FindByNameAsync(User.Identity.Name);
                                var check = userCurrentt.Notifications;
                                var myJson = new JObject();
                                if (check != null)
                                {
                                    ViewBag.notifications = JObject.Parse(userCurrentt.Notifications);
                                    var myJson1 = JObject.Parse(userCurrentt.Notifications);
                                    foreach (var jname in myJson1)
                                    {
                                        myJson.Add(jname.Key, jname.Value);
                                        if (jname.Value.Value<string>("Read") == "0")
                                        {
                                            countunread++;
                                        }
                                    }
                                }
                                <li class="header-notification">
                                    <div class="dropdown-primary dropdown">
                                        <div class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="feather icon-message-square"></i>
                                                <span class="badge bg-c-pink" id="chat"></span>
                                        </div>
                                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                            <li>
                                                <h6>Notifications</h6>
                                                <label class="label label-danger">New</label>
                                            </li>
                                            @if (check != null)
                                            {
                                                foreach (var item in ViewBag.notifications)
                                                {
                                                    if (item.Value.Read.ToString() == "0")
                                                    {
                                                        count++;
                                                                <li>
                                                                    <div class="media">
                                                                            <img class="d-flex align-self-center img-radius" src="~/libraries/assets/images/@item.Value.ProfilePic.ToString()" alt="Generic placeholder image">
                                                                            <div class="media-body">
                                                                                <h5 class="notification-user">@item.Value.Name.ToString()</h5>
                                                                                <p class="notification-msg">@item.Value.Message.ToString()</p>
                                                                                <span class="notification-time">@item.Value.Time.ToString()</span>
                                                                                <a asp-controller="Home" asp-action="comms" class="btn btn-dark text-white float-right">View All</a>
                                                                            </div>
                                                                    </div>
                                                                </li>
                                                        if (count == 3)
                                                        {
                                                            break;
                                                        }
                                                    }

                                                }
                                            }


                                        </ul>
                                    </div>
                                </li>
                            }

                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a asp-controller="Home" asp-action="Index">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                        <span class="pcoded-mtext">Members</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a asp-controller="Home" asp-action="QueueMembers">
                                                <span class="pcoded-mtext">Queue Members</span>
                                            </a>
                                        </li>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                        {
                                            <li class=" ">
                                                <a asp-controller="Home" asp-action="AllEscalated">
                                                    <span class="pcoded-mtext">All Escalated</span>
                                                </a>
                                            </li>
                                        }
                                        <li class=" ">
                                            <a asp-controller="Account" asp-action="index">
                                                <span class="pcoded-mtext">SMS History</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a asp-controller="Withdrawals" asp-action="index">
                                                <span class="pcoded-mtext">WithDrawals</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-aperture rotate-refresh"></i></span>
                                        <span class="pcoded-mtext">Gadgets</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a asp-controller="Tickets" asp-action="Screen" target="_blank">
                                                <span class="pcoded-mtext">Screen</span>
                                            </a>
                                        </li>

                                        @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                        {
                                            <li class=" ">
                                                <a asp-controller="Tickets" asp-action="EditScreen" target="_blank">
                                                    <span class="pcoded-mtext">Edit Screen View</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a asp-controller="Tickets" asp-action="EditScreen" target="_blank">
                                                    <span class="pcoded-mtext">Videos</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a asp-controller="Tickets" asp-action="Create" target="_blank">
                                                    <span class="pcoded-mtext">Tablet</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                {
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                                            <span class="pcoded-mtext">Sections & Services</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a asp-controller="Sections" asp-action="Index">
                                                    <span class="pcoded-mtext">Sections</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a asp-controller="Services" asp-action="Index">
                                                    <span class="pcoded-mtext">Services</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                            <span class="pcoded-mtext">Staff & More</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a asp-controller="Account" asp-action="index">
                                                    <span class="pcoded-mtext">Staff</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a asp-controller="Withdrawals" asp-action="Reasons">
                                                    <span class="pcoded-mtext">Withdrawal Reasons</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a asp-controller="DeskCounters" asp-action="index">
                                                    <span class="pcoded-mtext">Counters</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Reports" asp-action="Index">
                                            <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                                            <span class="pcoded-mtext">Report</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="">
                                        <a asp-controller="Home" asp-action="Report">
                                            <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                                            <span class="pcoded-mtext">My Report</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-controller="Home" asp-action="MyServices">
                                            <span class="pcoded-micon"><i class="feather icon-sliders"></i></span>
                                            <span class="pcoded-mtext">My Services</span>
                                        </a>
                                    </li>
                                }
                                <li class="">
                                    <a asp-controller="Home" asp-action="Escalated">
                                        <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                                        <span class="pcoded-mtext">Escalates</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a asp-controller="Home" asp-action="Comms">
                                        <span class="pcoded-micon"><i class="feather icon-message-square"></i></span>
                                        <span class="pcoded-mtext">Internal Comms</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/libraries/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/libraries/bower_components/modernizr/js/modernizr.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="~/libraries/bower_components/chart.js/js/Chart.js"></script>
    <!-- amchart js -->
    <script src="~/libraries/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/libraries/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/libraries/assets/pages/widget/amchart/light.js"></script>
    <script src="~/libraries/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/libraries/assets/js/SmoothScroll.js"></script>
    <script src="~/libraries/assets/js/pcoded.min.js"></script>
    <!-- custom js -->
    <script src="~/libraries/assets/js/vartical-layout.min.js"></script>
    <script type="text/javascript" src="~/libraries/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/libraries/assets/js/script.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
