@model HubnyxQMS.Models.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketReports)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketReports)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDevice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServedMembers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServedMembers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTurnOutMembers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTurnOutMembers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEscalated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEscalated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageWaitingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageWaitingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageServingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageServingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembersBeingServed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembersBeingServed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
