@model IEnumerable<HubnyxQMS.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketReports)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServedMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTurnOutMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEscalated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageWaitingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageServingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembersBeingServed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketReports)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredDevice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServedMembers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTurnOutMembers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEscalated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageWaitingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageServingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembersBeingServed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
